---
---

<section class="not-prose relative dark:bg-dark md:-mt-[76px]" id="jeanna">
    <div class="pointer-events-none absolute inset-0" aria-hidden="true"></div><div
      class="relative mx-auto max-w-7xl px-4 sm:px-6"
    >
      <div class="pointer-events-none pt-0 md:pt-[76px]"></div><div class="pt-12 md:pt-20">
        <div class="mx-auto max-w-5xl pb-10 text-center">
          <p class="mb-2 block text-lg font-semibold text-primary uppercase tracking-wide pb-2 md:pb-4">Leadership</p><h1
            class="font-heading leading-tighter mb-4 text-5xl font-bold tracking-tighter dark:text-gray-200 md:text-6xl"
          >
            Jeanna
          </h1><div class="mx-auto max-w-3xl">
            <p class="text-muted mb-6 text-xl dark:text-slate-300">
              I'm a Graphic Designer passionate about crafting visual stories.<br />With 5 years of
              experience and a degree from New York University's School of Design. I infuse vitality
              into brands and designs, transforming concepts into captivating realities.
            </p><div
              class="m-auto flex max-w-xs flex-col flex-nowrap gap-4 sm:max-w-md sm:flex-row sm:justify-center"
            >
            </div>
          </div>
        </div><div></div>
      </div>
    </div>
  </section>
  
  
  
  <section class="not-prose relative">
    <div class="pointer-events-none absolute inset-0 -z-[1]" aria-hidden="true">
      <div class="absolute inset-0 dark:bg-dark"></div>
    </div><div class="text-default relative mx-auto max-w-7xl px-4 py-12 md:px-6 md:py-16 lg:py-20">
      <div class="mx-auto max-w-7xl p-4 md:px-8">
        <div class="md:flex md:gap-16">
          <div class="mt-10 md:mt-0 md:basis-1/2" aria-hidden="true">
            <div class="relative m-auto max-w-4xl">
              <img
                alt="Colorful Image"
                class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
                decoding="async"
                height="500"
                loading="eager"
                sizes="(max-width: 768px) 100vw, 432px"
                src="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
                style="object-fit:cover;object-position:center;width:100%;height:auto;aspect-ratio:1"
                width="500"
                srcset="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=80&h=400 400w, https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=768&q=80&h=768 768w"
              />
            </div>
          </div>
  
          <div class="self-center md:basis-1/2">
            <div class="mb-12 text-lg dark:text-slate-400">
              <h2
                class="my-3 mb-2 text-center text-2xl font-bold tracking-tight dark:text-white sm:text-3xl"
              >
                About me
              </h2><p class="text-justify">
                Michael Petri is a seasoned and results-oriented bilingual Talent Acquisition
                professional with over a decade of experience spanning various industries. With a
                strong track record of sourcing, recruiting, and retaining top-tier talent, Michael
                has honed his expertise in developing and implementing innovative recruitment
                strategies aligned with organizational goals.
              </p>
              <br />
              <p class="text-justify">
                Throughout his career, Michael has showcased proficiency in full-cycle recruitment,
                interviewing, negotiation, and offer closing. His keen understanding of recruitment
                technologies has seen him adeptly utilize a range of tools, including Applicant
                Tracking Systems (ATS), Customer Relationship Management (CRM) platforms, and AI
                recruiting systems, among others. In his most recent role as a Senior Talent Advisor
                at Pfizer, Michael demonstrated his ability to excel in a remote environment,
                successfully managing a diverse array of requisitions within the pharmaceutical
                manufacturing sector. His commitment to diversity and inclusion initiatives, coupled
                with his strategic collaboration with department heads and HR partners, has
                contributed to Pfizer's recruitment success.
              </p>
              <br />
              <p class="text-justify">
                Prior to Pfizer, Michael held key positions with American Express, GE Capital, GE
                Healthcare, Korn Ferry, Del Monte, and other renowned organizations, where he
                consistently delivered specialist and niche hiring solutions while ensuring compliance
                with industry regulations and internal policies. Michael holds a Master of Science in
                Human Resources Management from Florida International University and a Bachelor of
                Arts in Political Science from St. Mary’s University. Complementing his academic
                credentials, Michael has pursued additional training and certifications in recruiting
                management and sourcing methodologies.
              </p>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </section>